#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.submenu {
  position: absolute;
  top: 100%; /* Position the submenu below the menu item */
  left: 0;
  z-index: 999; /* Set a higher z-index to ensure it appears on top */
}

/* Custom CSS for slider height */
.slider-height {
  height: 70vh; /* Full viewport height */
}

.slider-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item img {
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .slider-height {
    height: 70vh; /* Adjust this value for medium screens */
  }
  .text-4xl {
    font-size: 2xl; /* Adjust heading size for medium screens */
  }
  .text-lg {
    font-size: base; /* Adjust text size for medium screens */
  }
}

@media (max-width: 640px) {
  .slider-height {
    height: 50vh; /* Adjust this value for small screens */
  }
  .text-4xl {
    font-size: xl; /* Adjust heading size for small screens */
  }
  .text-lg {
    font-size: sm; /* Adjust text size for small screens */
  }
}